/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* common */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    color: rgb(84,73,69);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    max-width: 100vw;
    width: 95%;
    margin: 0 auto;
}

.container{
    max-width: 100vw;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: rgb(114,103,99);
}

.justify-center{
    justify-content: center;
}

.btn{
    padding: 0.8rem 2rem;
    color: white;
    border: none;
}

p{
    line-height: 1.4;
}

.align-stretch{
    align-items: stretch;
}

.padding{
    padding: 3rem;
}

.full-width{
    width: 100%;
}

.text-center{
    text-align: center;
}

.align-start{
    align-items: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

/* header */

.header{
    padding: 2rem 0rem;
}

.header input{
    display: none;
}

.menu-icon:hover{
cursor: pointer;
}

.menu-icon{
    display: none;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    z-index: 50;
}

.header li{
    margin-right: 1rem;
}

.header a{
    font-weight: 500;
}

.header a:hover{
    color: rgb(234,84,51);
}

.fa-chevron-down, .fa-chevron-right {
    margin-left: 0.3rem;
}

.drop-down{
    position: relative;
}

.sub-drop-down{
    position: absolute;
    display: none;
    background: white;
    top:7rem;
    left: 50%;
    width: 11rem;
    transform: translate(-50%, -50%);
    border-radius: 0.2rem;
    padding:1rem 0rem 1rem 2rem;
}

.sub-drop-down:hover .sub-drop-down{
    display:block;
}

.sub-drop-down li{
    margin-bottom: 1rem;
}

.drop-down:hover .sub-drop-down{
    display: block;
}

.deep-parent{
    position:relative;
}

.deep-drop-down{
    position: absolute;
    display: none;
    left: 95%;
    top:0;
    width: 11rem;
    background: white;
    text-align: center;
    z-index: 2;
}

.deep-parent:hover .deep-drop-down{
    display: block;
}

.deep-drop-down:hover .deep-drop-down{
    display: block;
}

.active{
    color: rgb(234,84,51);
}

/* hero */
.hero{
    background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/media/hero-bg.jpg");
    background-attachment: fixed;
    padding: 12rem 6rem;
    color: white;
}

h2{
    font-size:3.5rem;
    font-weight: 700;
}

.hero p{
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.start-btn{
    font-size: 1rem;
    background: rgb(88,75,72);
    border-radius: 1rem;
}

.start-btn:hover{
    background: rgb(234,84,51);
    cursor: pointer;
}

.hero-btn{
    position:relative;
    margin: 4rem 0rem 0rem 1.5rem;
}

.right-arrow{
    position: absolute;
    height: 4rem;
    width: 4rem;
    color: white;
    background:rgb(234,84,51);
    border-radius: 50%;
    top:-0.5rem;
    left: -2rem;
}

/* hero-card */

.hero-cards{
    margin-top: -8rem;
    margin-bottom: 4rem;
}

.hero-active-card{
    background: rgb(234,84,51);
    padding: 4rem 1rem;
    color: white;
    border-radius: 0.2rem;
}

.hero-active-card p{
    padding: 2rem 0rem;
}

.hero-active-card .btn{
    background: rgb(236,112,72);
    border-radius: 1rem;
    font-size: 1rem;
}

.hero-active-card .btn:hover{
    background: white;
    color: rgb(234,84,51);
}

.hero-card{
    padding: 3rem 2rem;
    box-shadow: 0rem 0.1rem 0.2rem black;
    border-radius: 0.5rem;
    background: white;
    text-align: center;
    color: rgb(52,51,51);
    margin-top: 4rem;
}

.hero-card p{
    font-size: 1.1rem;
    padding: 0;
}

h3{
    font-size: 1.8rem;
    font-weight: 600;
}

h5{
    font-size: 1.2rem;
    font-weight: 600;
}

.hero-card h5{
    margin: 2rem 0rem;
}

.hero-card i{
    color: rgb(234,84,51);
    font-size: 2rem;
}

.flex-25{
    flex: 0 1 23%;
}

.flex-21{
    flex: 0 1 19%;
}

/* about */

.about{
    background: rgb(254,249,247);
}

.about img{
    height: 35rem;
    object-fit: cover;
    
}

h4{
    font-size: 1.6rem;
    font-weight: 700;
}

.about h4{
    margin: 1rem 0rem;
}

.flex-40{
    flex: 0 1 40%;
}

.flex-55{
    flex: 0 1 55%;
}

.about-card{
    margin-top: 2rem;
}

.about-card p{
font-size: 0.9rem;
margin-top: 0.5rem;
}

.about-card .icon{
    background: white;
    height: 3.5rem;
    width: 3.5rem;
    border: 0.1rem solid rgb(234,84,51);
    border-radius: 50%;
    margin-right:0.6rem;
    color: rgb(234,84,51);
}

.about-card i{
    font-size: 1.5rem;
}

.about-card .icon:hover{
    background: rgb(234,84,51);
    color: white;
}

.flex-5{
    flex: 0 1 5%;
}

.flex-90{
    flex: 0 1 90%;
}

/* clients */
.client-slider{
    overflow-x: auto;
    
}

.client-img{
    display: inline-block;
    width: 10rem;
    margin: 0rem 3rem;
    filter: grayscale(100%);
}

.client-img:hover{
    filter: grayscale(0%);
}

.client-slider::-webkit-scrollbar {
    display: none;
  }

  .circle{
      height:0.7rem;
      width: 0.7rem;
      border-radius: 50%;
      background: rgb(234,84,51);
      margin-right: 0.5rem;
      margin-top: 1.5rem;
  }

  .gray-background{
      background: rgb(221,221,221);
  }

  /* services */

  .services{
      background: rgb(254,249,247);
      text-align: center;
  }

  .services p{
      margin-top: 1rem;
  }

  .flex-29{
      flex: 0 1 29%;
  }

  .service-card{
      background: white;
      padding: 4rem 1rem;
      margin-top: 3rem;
  }

  .service-icon{
      background: rgb(234,84,51);
      color: white;
      height: 3rem;
      width: 3rem;
      font-size: 1.2rem;
      border-radius: 50%;
      margin-top: -7rem;

  }

  .service-icon:hover{
    background: white;
    color: rgb(234,84,51);
    border: 0.1rem solid rgb(234,84,51);

}


/* motto */
.flex-47{
    flex: 0 1 48%;
}

.motto img{
    height: 25rem;
    object-fit: cover;
}

.motto .row-2{
    margin-top: 2rem;
}

.motto-card{
    position: relative;
}

.value-info-desc{
    margin: 1.5rem 0rem;
}

.value-info{
    position: absolute;
    padding: 1rem;
    background:rgba(255,255,255,0.8);
    text-align: center;
    bottom: 1rem;
    left: 1.2rem;
    right: 1.2rem;
}

.value-info:hover{
    background: rgb(234,84,51);
    color: white;
}

.value-info-link{
    text-align: left;
}

.value-info-link i{
    margin-right: 0.3rem;
}

/* reviews */
.reviews{
    background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/media/testimonials-bg.jpg");
    text-align: center;
    color: white;
    padding: 8rem 0rem;;
}

h6{
    font-size: 1.1rem;
    font-weight: 400;
}

.reviews h5{
    margin: 0.5rem 0rem;
}

.reviews p{
    margin: 2rem 0rem;
}

.review{
    width: 100%;
    flex: 0 0 auto;
}

.review img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 0.3rem solid rgb(151, 149, 149);
}

.review-slider{
    display: flex;
    overflow-x: auto;
}

.review-slider::-webkit-scrollbar {
    display: none;
  }

/* portfolio */

.portfolio{
    text-align: center;
}

.portfolio p{
    margin: 1.5rem 0rem;
}

.portfolio-links h5{
    margin-right: 1.5rem;
}

.active-link{
    background: rgb(255,239,239);
    color:  rgb(234,84,51);
    border-radius: 1rem;
    padding: 0.3rem 0.7rem;
}

.flex-31{
    flex: 0 1 31%;
}

.portfolio-card img{
    height: 22rem;
    object-fit: cover;
}

.portfolio-card{
    position: relative;
    margin-top: 3rem;
}

.portfolio-card-desc{
    display: none;
    background:rgba(255,255,255,0.8);
    color: black;
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    text-align: left;
}

.portfolio-card:hover .portfolio-card-desc{
    display: flex;
}

/* team */
 .team{
     background: rgb(254,249,248);
     text-align: center;
 }

 .team p{
     margin: 2rem 0rem;
 }

 .team img{
     height: 22rem;
     object-fit: cover;
 }

 .flex-23{
     flex: 0 1 23%;
 }

 .member-details{
     background: white;
     padding: 1rem 0rem;
 }

 .member-details p{
     margin: 1rem 0rem;
 }

 /* price */
 .pricing-desc{
     margin: 1.5rem;
 }

 .price-cards{
     margin-top: 3rem;
 }

 .price-card{
     border-radius: 0.5rem;
     border: 0.1rem solid rgb(248,248,248);
 }

 .price-card .heading, .submit{
     background: rgb(248,248,248);
     padding: 1rem 0rem;
 }

 .price-card h6{
     color: rgb(165, 158, 158);
 }

 .price{
     color: rgb(234,84,51);
     font-size: 1.8rem;
     font-weight: 600;
 }

 .price-card .body{
     margin: 1rem 0rem;
 }

 .price-card .btn{
     background: rgb(234,84,51);
     color: white;
     font-size: 1rem;
 }

 .price-card .btn:hover{
    background: rgb(245, 216, 216);
    color: rgb(234,84,51);
}

 .price-card p{
     margin-top: 1rem;
 }

 .gray-dashed{
     color: rgb(165, 158, 158);
     text-decoration: line-through;
 }

 .price-card .active{
    background: rgb(234,84,51);
    color: white;
}

/* FAQ */

.faq{
    background: rgb(254,249,248);
}

.faq-desc{
    margin: 2rem 0rem;
}

.faq-section h6{
    font-weight: 500;
}

.faq-section i{
    color: rgb(250,223,213);
    font-size: 1.2rem;
}

.faq-section .active  i{
    color: rgb(234,84,51);
}

.faq-question{
    margin: 0 auto;
    background: white;
    padding: 1rem;
    width: 70%;
    margin-top: 1rem;
}

.faq-question p{
    text-align: left;
    margin-top: 1rem;
}

.faq-question:hover{
   color: rgb(234,84,51);
}

/* contact */

.contact-desc{
    margin: 2rem 0rem;
}

.contact-card{
    padding: 2rem 1rem;
    box-shadow: 0rem 0.01rem 0.2rem black;
    margin: 0rem 1rem ;
}

.contact-card i{
    font-size: 1.2rem;
    color: rgb(234,84,51);
}

.contact-card .icon{
    border: 0.2rem dashed rgb(234,84,51);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}

.contact-card p{
    margin-top: 1rem;
}

.flex-77{
    flex: 0 1 73%;
}

.flex-48{
    flex: 0 1 49%;
}

.contact-form{
    padding: 2rem 2rem;
    background: white;
    box-shadow: 0rem 0.01rem 0.2rem  black;
    margin-top: 3rem;
}

.contact-form input{
    margin-bottom: 1rem;
    padding: 0.4rem;
    height: 2rem;
}

.contact-form .btn{
    background: rgb(234,84,51);
    color: white;
    margin-top: 1rem;
}

.contact-form .btn:hover{
background: rgb(238,116,89);
}

/* footer-links */

.footer-links{
    background: rgb(254,249,248);
    padding: 2rem 6rem;
}

.footer-links p{
    margin-top: 1rem;
}

.bold{
    font-weight: 600;
}

.news-letter-input{
    height: 2rem;
    width: 100%;
    border: 1px solid rgb(251,233,227);
    border-radius: 1rem;
    margin-top: 2rem;
}

.flex-20{
    flex: 0 1 20%;
}

.flex-15{
    flex: 0 1 15%;
}

.flex-30{
    flex: 0 1 30%;
}

.news-letter-subscribe{
    position: relative
}

.news-letter-btn{
    background: rgb(234,84,51);
    color: white;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    padding: 0rem 2rem;
    font-size: 1rem;
    position: absolute;
    right: 0rem;
    top: 2rem;
}

.news-letter-btn:hover{
    background: rgb(238,116,89);
}

.social-media .icon{
    color: white;
    background:rgb(234,84,51);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    font-size: 1.2rem; 
}

.social-media .icon:hover{
    background: rgb(238,116,89);
}

.top-btn{
    position:fixed;
    height: 3rem;
    width: 3rem;
    color: white;
    background: rgb(234,84,51);
    border-radius: 50%;
    bottom: 2rem;
    right: 2rem;
}

.top-btn:hover{
    background: rgb(238,116,89);
}

.top-btn a{
    color: white;
}

/* blog */

.blog{
    background: rgb(254,249,248);
}
.blog p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.blog-card{
    padding: 1rem;
    box-shadow: 0rem 0.01rem 0.2rem  black;
    margin-bottom: 2rem;
}

.blog-card img{
    height: 20rem;  
    object-fit: cover;
}

.blog-card h4{
    margin: 1rem 0rem;
}

.blog-card p{
margin: 1rem 0rem;;
}

.blog-card .btn{
    color: white;
    background: rgb(234,84,51);
    font-size: 1rem;
}

.blog-card .btn:hover{
    background: rgb(238,116,89);
}


/* nav */
.nav-box{
    padding: 1rem;
    margin-right: 0.5rem;
    border: 0.1rem solid rgb(128,128,128);
}

.nav-box:hover{
    background: rgb(234,84,51);
    color: white;
    border-color: rgb(234,84,51);
}

.nav-box.active{
    color: white;
    background: rgb(234,84,51);
    border-color: rgb(234,84,51);
}


@media screen and (max-width:768px){

    html{
        font-size: 12px;
      }


    .flex{
      flex-wrap: wrap;
      text-align: center;
    }

    .column{
        flex-direction: column
    }

    .header-nav{
        display: none;
        position: fixed;
        top: 0;
        left:0;
        right:0;
        padding-top: 10rem;
        background: rgba(255,255,255,0.8);
        height: 100vh;
        width: 100vw;
        z-index:48;
    }

    .header{
       height: 4rem;
    }

    .menu-icon{
        z-index: 49;
        position: fixed;
        top: 1rem;
        right: 2rem;
        font-size: 2rem;
        color:rgb(234,84,51);
        display: inline-block;
    }

    h1{
        z-index:50;
        position: fixed;
        top: 1rem;
        left: 2rem;
        color: rgb(234,84,51);
    }

    .header-nav li{
        margin-top: 1rem;

    }

    #menu-icon:checked ~nav{
        display: inline-block;
    }

    .flex-5, .flex-15, .flex-20, .flex-21, .flex-23, .flex-25, .flex-29, .flex-30, .flex-31, .flex-40, .flex-47, .flex-48, .flex-55, .flex-77, .flex-90{
        flex: 0 1 100%;
        margin-top: 2rem;
        }

    .about-card .icon{
        margin: 0 auto;
    }

    .client-slider{
        flex-direction: row;
        flex-wrap:nowrap
    }

    .social-media{
        margin-top: 2rem;
    }

    .copyrights-section{
        margin: 0 auto;
    }

    .faq-question.flex, .faq-question .flex{
        flex-direction: row;
        flex-wrap: nowrap;
    }


}